services:
  usuario:
    build: .
    ports:
      - "8081:8081"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: usuario
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"